Source: ros-rolling-ros2launch-security
Section: misc
Priority: optional
Maintainer: Ted Kern <ted.kern@canonical.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-rolling-ament-copyright, ros-rolling-ament-flake8, ros-rolling-ament-index-python, ros-rolling-ament-pep257, ros-rolling-demo-nodes-py, ros-rolling-launch-ros, ros-rolling-nodl-python, ros-rolling-ros2launch, ros-rolling-sros2, ros-rolling-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-ros2launch-security
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-ament-index-python, ros-rolling-nodl-python, ros-rolling-ros2launch, ros-rolling-sros2, ros-rolling-ros-workspace
Description: Security extensions for ros2 launch
